<div class="container landing_headers">
	<h5>PAGE Dashboard</h5>
	<img src="{{ image_path }}divider_02.png"/>
	<ul class="list-group pame-links">
	  <li class="pame-menu-left">
		<a href="/BPMLP_page_page">
		  <div class="row">
		   <div class="col-4"><img src="{{ image_path }}pame/pame_home.png"/></div>
		   <div class="col-8">PAGE Home</div>
		  </div>
		</a>
	  </li>
	  <div class="contextual-region">{{ title_suffix }}
			{{ drupal_view('biopama_dashboards_page', 'block_3') }}
	  </div>
	</ul>
</div>