<div id="pame_assessments_table">
	<table id="table_assessments" class="table compact row-border">
		<thead>
			<tr>
				<th>Protected Area</th>
				<th>Region</th>
				<th>Country</th>
				<th>Link</th>
				<th>Methodology</th>
				<th>Assessment Year</th>
				<th>Dataset Title</th>
				<th>Dataset year of submission</th>
				<th>Source</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfooter>
		</tfooter> 					
	</table>
</div>