<div id="pame_assessments_map"></div>
<div id="spinner">
  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
</div>