<div class="form-group">
    <label for="assessment_tools">Methodologies</label>
    <select class="form-control" id="assessment_tools" param="pame_methodology">
        <option value="%">All Methodologies</option>
    </select>
    <label for="assessment_year">Year</label>
    <select class="form-control" id="assessment_year" param="pame_year">
        <option value="%">All Years</option>
    </select>
    <label for="assessment_region">Region</label>
    <select class="form-control" id="assessment_region" param="region">
        <option value="%">All Regions</option>
    </select>
    <label for="assessment_country">Country</label>
    <select class="form-control" id="assessment_country" param="iso3">
        <option value="%">All Countries</option>
    </select>
    <button class="btn btn-info" type="button" id="reset_filters">Clear All</button>
</div>